/* /static/style.css */
body {
    background: black;
}
h3 {
    color: rgb(138, 162, 150);
    font-family: 'Ubuntu Mono', monospace;
    text-align: center;
    margin-top: 2.2cm;
    font-size: 40px;
}
h4 {
    color: rgb(220, 220, 220);
    font-family: 'Ubuntu Mono', monospace;
    text-align: center;
    font-size: 19px;
    padding-top: 0px;
    padding-bottom: 40px;
}
h5 {
    color: rgb(220, 220, 220);
    font-family: 'Ubuntu Mono', monospace;
    text-align: center;
    font-size: 19px;
    padding-bottom: 20px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
* {
  box-sizing: border-box;
}
.column {
  float: left;
  width: 25%;
  padding: 0px 30px 36px 30px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.caption {
    font-size: 16px;
    color: rgb(138, 162, 150);
    font-family: 'Ubuntu Mono', monospace;
    text-align: center;
    padding: 10px 10px 10px 10px;
}
.vertical-buffers {
    margin-top: 30px;
    margin-bottom: 70px;
}
.side-buffers {
    margin-left: 90px;
    margin-right: 90px;
}