/* /static/style.css */
body {
    background: black;
}
h3 {
    color: rgb(138, 162, 150);
    font-family: 'Ubuntu Mono', monospace;
    text-align: center;
    margin-top: 2cm;
    font-size: 35px;
}
h4 {
    color: rgb(220, 220, 220);
    font-family: 'Ubuntu Mono', monospace;
    text-align: center;
    font-size: 17px;
    margin-top: 1em;
}
h5 {
    color: rgb(138, 138, 138);
    font-family: 'Ubuntu Mono', monospace;
    text-align: center;
    font-size: 14px;
    padding-bottom: 30px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
* {
  box-sizing: border-box;
}
.column {
  float: left;
  width: 25%;
  padding: 36px 36px 36px 36px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.vertical-buffers {
    margin-top: 30px;
    margin-bottom: 70px;
}
.side-buffers {
    margin-left: 116px;
    margin-right: 116px;
}