<!DOCTYPE html>
<html>
    <head>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital@0;1&display=swap');
        </style>
        <link rel="stylesheet" href="/static/style.css">
        <script src="/static/index.js"></script>
    </head>
    <body>
        <div class="navbar">
            <a href="/">Back to Albums</a>
        </div>
        <h3 style="font-size: 19px; margin-top:2.7cm">Celerina — Muottas Muragl<br>07/2022</h3>
        <div class="row" style="margin-left: 1%; margin-right: 1%">
            <div class="column" style="width: 20%; padding: 25px 5px">
                <img class="img-responsive" src="https://drive.google.com/uc?id=1qw9dsV25Lu5afXIWPhfVY9YsPyNqT3MW" style="width:100%">
            </div>
            <div class="column" style="width: 20%; padding: 25px 5px">
                <img class="img-responsive" src="https://drive.google.com/uc?id=12UQR7I4BLUGSnpLnbQJkQI_gg_iHOzY7" style="width:100%">
            </div>
            <div class="column" style="width: 20%; padding: 25px 5px">
                <img class="img-responsive" src="https://drive.google.com/uc?id=12k1isCIzhpI_hMK9bQFMQtYpFx2xUSEZ" style="width:100%">
            </div>
            <div class="column" style="width: 20%; padding: 25px 5px">
                <img class="img-responsive" src="https://drive.google.com/uc?id=1pOw7w3lcV7HigKV9dY3cTMV0pfqWJnvf" style="width:100%">
            </div>
            <div class="column" style="width: 20%; padding: 25px 5px">
                <img class="img-responsive" src="https://drive.google.com/uc?id=1ImabFB6ytI0m-JUW_JhRwSc6Mv1QbR4O" style="width:100%">
            </div>
        </div>
        <div class="row" style="margin-left: 1%; margin-right: 1%">
            <div class="column" style="width: 20%; padding: 25px 5px">
                <img class="img-responsive" src="https://drive.google.com/uc?id=16LDI6zlqKk9rSbCz1rVskjOFm7VQAEQk" style="width:100%">
            </div>
            <div class="column" style="width: 20%; padding: 25px 5px">
                <img class="img-responsive" src="https://drive.google.com/uc?id=1rvk6d5FwIdPjjPuT2xg4bo8dHCk4So11" style="width:100%">
            </div>
            <div class="column" style="width: 20%; padding: 25px 5px">
                <img class="img-responsive" src="https://drive.google.com/uc?id=1yxeU_UbRrqfide53R7CSOJGdeCnOxJH2" style="width:100%">
            </div>
            <div class="column" style="width: 20%; padding: 25px 5px">
                <img class="img-responsive" src="https://drive.google.com/uc?id=1An8XzQWOB16O4lfcD4_F5CTVV13bn1RK" style="width:100%">
            </div>
            <div class="column" style="width: 20%; padding: 25px 5px">
                <img class="img-responsive" src="https://drive.google.com/uc?id=14mBlBqVunPHjsPaEroPYYl-fqbI6Lu3r" style="width:100%">
            </div>
        </div>
    </body>
    <h5>©️ A.S.</h5>
</html>
