<!DOCTYPE html>
<html>
    <head>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital@0;1&display=swap');
        </style>
        <link rel="stylesheet" href="/static/style.css">
        <script src="/static/index.js"></script>
    </head>
    <body>
        <h3 style="font-size: 19px">Corvara in Badia<br>12/2021</h3>
        <div class="row side-buffers vertical-buffers">
            <div class="column" style="width: 20%; padding: 25px 5px"></div>
            <div class="column" style="width: 20%; padding: 25px 5px"></div>
            <div class="column" style="width: 20%; padding: 25px 5px"></div>
            <div class="column" style="width: 20%; padding: 25px 5px"></div>
            <div class="column" style="width: 20%; padding: 25px 5px"></div>
        </div>
    </body>
    <h5>©️ A.S.</h5>
</html>
