<!--index.html-->
<!DOCTYPE html>
<html>
    <head>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital@0;1&display=swap');
        </style>
        <link rel="stylesheet" href="/static/style.css">
        <script src="/static/index.js"></script>
    </head>
    <body>
        <h3>A. Slabucho Photo Gallery</h3>
        <h4><i>Shot on Olympus E-P2</i></h4>
        <h5>Series:</h5>
        <div class="row side-buffers vertical-buffers">
            <div class="column">
                <a href="/corvara">
                    <img src={{url_for('static', filename="Switzerland-album-header.jpg")}} alt="Switzerland1" style="width:100%">
                </a>
                <div class="caption center-block">St. Moritz<br>07/22</div>
            </div>
            <div class="column">
                <a href="/lysa_nad_labem">
                    <img src="https://drive.google.com/uc?id=1VhJOLQ8O_2cvj9dECPg1ZoD0bN9kLbRh" style="width:100%">
                </a>
                <div class="caption center-block">Lysá nad Labem<br>07/22</div>
            </div>
            <div class="column">
                <a href="/corvara">
                    <img src={{ url_for('static', filename="Corvara-album-header.jpg")}} alt="CorvaraInBadia" style="width:100%">
                </a>
                    <div class="caption center-block">Corvara in Badia<br>12/21</div>
            </div>
            <div class="column">
                <a href="/london_brixton">
                    <img src="https://drive.google.com/uc?id=1sXPAfxHbqCN-SoJrMUEsvy4XRp_YfU40" alt="London1" style="width:100%">
                </a>
                <div class="caption center-block">London<br>09/21</div>
            </div>
        </div>
        <div class="row side-buffers vertical-buffers">
            <div class="column">
                <a href="/london_centre">
                    <img src=https://drive.google.com/uc?id=1isOKKMi2f3XL6c4ecdta1uRILPe7qL2C alt="London" style="width:100%">
                </a>
                <div class="caption center-block">St. Moritz<br>07/22</div>
            </div>
            <div class="column">
                <a href="/lysa_nad_labem">
                    <img src="https://drive.google.com/uc?id=1VhJOLQ8O_2cvj9dECPg1ZoD0bN9kLbRh" style="width:100%">
                </a>
                <div class="caption center-block">Lysá nad Labem<br>07/22</div>
            </div>
            <div class="column">
                <a href="/corvara">
                    <img src={{ url_for('static', filename="Corvara-album-header.jpg")}} alt="CorvaraInBadia" style="width:100%">
                </a>
                    <div class="caption center-block">Corvara in Badia<br>12/21</div>
            </div>
            <div class="column">
                <a href="/london_brixton">
                    <img src="https://drive.google.com/uc?id=1sXPAfxHbqCN-SoJrMUEsvy4XRp_YfU40" alt="London1" style="width:100%">
                </a>
                <div class="caption center-block">London<br>09/21</div>
            </div>
        </div>
        <h5>Locations:</h5>
        <div id='chart' class='chart'></div>
    </body>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type='text/javascript'>
        const graphs = {{graphJSON | safe}};
        graphs.config = {displayModeBar: false};
        Plotly.newPlot('chart', graphs);
    </script>
    <h5>©️ A.S.</h5>
</html>
