<!--index.html-->
<!DOCTYPE html>
<html>
    <head>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital@0;1&display=swap');
        </style>
        <link rel="stylesheet" href="/static/style.css">
        <script src="/static/index.js"></script>
    </head>
    <body>
        <h3>A. Slabucho Photo Gallery</h3>
        <h4><i>Shot on Olympus E-P2 & iPhone 11 Pro Max</i></h4>
        <!-- <div class="image_header"> -->
           <!--<img src="{{url_for('static', filename='startup_img.jpg')}}", width = 275.125, height = 489, class = 'center'/>-->
        <!--</div>-->
        <h4><i>Locations</i></h4>
        <div id='chart' class='chart'></div>
    </body>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type='text/javascript'>
        const graphs = {{graphJSON | safe}};
        graphs.config = {displayModeBar: false};
        Plotly.newPlot('chart', graphs);
    </script>
    <h5>©️ A.S.</h5>
</html>