<!DOCTYPE html>
<html>
    <head>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital@0;1&display=swap');
        </style>
        <link rel="stylesheet" href="/static/style.css">
        <script src="/static/index.js"></script>
    </head>
    <body>
        <div class="navbar">
            <a href="/">Back to Albums</a>
        </div>
        <h3 style="font-size: 19px; margin-top:2.7cm">London — Centre<br>10/2021</h3>
        <div class="row" style="margin-left: 1%; margin-right: 1%">
            <div class="column" style="width: 20%; padding: 25px 5px">
                <img class="img-responsive" src="https://drive.google.com/uc?id=1jkG4XrqvNQ0K0oPnVjRP8N-SwmJaynEb" style="width:100%">
            </div>
            <div class="column" style="width: 20%; padding: 25px 5px">
                <img class="img-responsive" src="https://drive.google.com/uc?id=1sbVSLUhctqRjcGbOkxv_i8mTxcnTyHnw" style="width:100%">
            </div>
            <div class="column" style="width: 20%; padding: 25px 5px">
                <img class="img-responsive" src="https://drive.google.com/uc?id=1v9Q0c8aAfrsm20gIuYHKcYrUOFSb7RTr" style="width:100%">
            </div>
            <div class="column" style="width: 20%; padding: 25px 5px">
                <img class="img-responsive" src="https://drive.google.com/uc?id=1j4gfugXgZ5W7wsBEODLClX03dXR-45k-" style="width:100%">
            </div>
            <div class="column" style="width: 20%; padding: 25px 5px">
                <img class="img-responsive" src="https://drive.google.com/uc?id=1aV-3-eth55NM_ItNTs9QGGZWfCygtSfO" style="width:100%">
            </div>
        </div>
        <div class="row" style="margin-left: 1%; margin-right: 1%">
            <div class="column" style="width: 20%; padding: 25px 5px">
                <img class="img-responsive" src="https://drive.google.com/uc?id=1ZN8hoUfV9OzNLfG6FI5ck76kg4iQ-EKl" style="width:100%">
            </div>
            <div class="column" style="width: 20%; padding: 25px 5px">
                <img class="img-responsive" src="https://drive.google.com/uc?id=14j4evcU7N4AzWD-0YQJdTe9KRmvlGnE7" style="width:100%">
            </div>
            <div class="column" style="width: 20%; padding: 25px 5px">
                <img class="img-responsive" src="https://drive.google.com/uc?id=1N5Sdj3LwiOA2rSBiUfPjNSH2kjSaGdRh" style="width:100%">
            </div>
            <div class="column" style="width: 20%; padding: 25px 5px">
                <img class="img-responsive" src="https://drive.google.com/uc?id=1k2QVt1sGSyxwaJCwUOQMUbgm5M3as1h7" style="width:100%">
            </div>
            <div class="column" style="width: 20%; padding: 25px 5px">
                <img class="img-responsive" src="https://drive.google.com/uc?id=1_yb1zCNgFUD70l3LpVchV1bQIS7InHUK" style="width:100%">
            </div>
        </div>
        <div class="row" style="margin-left: 1%; margin-right: 1%">
            <div class="column" style="width: 20%; padding: 25px 5px">
                <img class="img-responsive" src="https://drive.google.com/uc?id=1bx9O_eBl08W8Irl_AoZVHbU5Eqgk88cW" style="width:100%">
            </div>
            <div class="column" style="width: 20%; padding: 25px 5px">
                <img class="img-responsive" src="https://drive.google.com/uc?id=1AIeZMWHrsed-3BVrwkZdy3iFANg88V7F" style="width:100%">
            </div>
            <div class="column" style="width: 20%; padding: 25px 5px">
                <img class="img-responsive" src="https://drive.google.com/uc?id=11W6u6moI7WoubH5EoGxPXLgEVC3Hgww9" style="width:100%">
            </div>
            <div class="column" style="width: 20%; padding: 25px 5px">
                <img class="img-responsive" src="https://drive.google.com/uc?id=1isOKKMi2f3XL6c4ecdta1uRILPe7qL2C" style="width:100%">
            </div>
            <div class="column" style="width: 20%; padding: 25px 5px">
                <img class="img-responsive" src="https://drive.google.com/uc?id=1UdWqonLDOpqbW3P6xpx9iOo66JpEfmKb" style="width:100%">
            </div>
        </div>
    </body>
    <h5>©️ A.S.</h5>
</html>
