<!DOCTYPE html>
<html>
    <head>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital@0;1&display=swap');
        </style>
        <link rel="stylesheet" href="/static/style.css">
        <script src="/static/index.js"></script>
    </head>
    <body>
        <h3 style="font-size: 19px">London — Brixton<br>09/2021</h3>
        <div class="row" style="margin-left: 1.4%; margin-right: 1.4%">
            <div class="column" style="width: 20%; padding: 25px 5px">
                <img src="https://drive.google.com/uc?id=1sFtRftg-yuMYt4DUG1t1K8L7Ht5GJvJK" style="width:100%">
            </div>
            <div class="column" style="width: 20%; padding: 25px 5px">
                <img src="https://drive.google.com/uc?id=1tcIz3wWxYZmLJOoHgUvoStA6ZLKf5_M5" style="width:100%">
            </div>
            <div class="column" style="width: 20%; padding: 25px 5px">
                <img src="https://drive.google.com/uc?id=13G97xik12nyy8ZsoxQo1Bk2leBryUki1" style="width:100%">
            </div>
            <div class="column" style="width: 20%; padding: 25px 5px">
                <img src="https://drive.google.com/uc?id=1VTGQkGITb6P0bvZfScdTY5KorJ01F4nC" style="width:100%">
            </div>
            <div class="column" style="width: 20%; padding: 25px 5px">
                <img src="https://drive.google.com/uc?id=1hjCkXaAhKBA7U9xjPFjiyxJOzH2EtR_4" style="width:100%">
            </div>
        </div>
        <div class="row" style="margin-left: 1.4%; margin-right: 1.4%">
            <div class="column" style="width: 20%; padding: 25px 5px">
                <img src="https://drive.google.com/uc?id=19s4aSYLSnmgLHJrwj4bmdigJCwGKiezF" style="width:100%">
            </div>
            <div class="column" style="width: 20%; padding: 25px 5px">
                <img src="https://drive.google.com/uc?id=1IemIysB_TGvlVpfvpbRniYk_skHVxpm-" style="width:100%">
            </div>
            <div class="column" style="width: 20%; padding: 25px 5px">
                <img src="https://drive.google.com/uc?id=1mIwaqKiHUd2Fx0RqryRfruusKfuNRrwt" style="width:100%">
            </div>
            <div class="column" style="width: 20%; padding: 25px 5px">
                <img src="https://drive.google.com/uc?id=1ULU_i4Xr-OI-a1QjQvRaABSsrozyXzZB" style="width:100%">
            </div>
            <div class="column" style="width: 20%; padding: 25px 5px">
                <img src="https://drive.google.com/uc?id=14x1XezvkteAQeWS7nYlPzBgCfe2UJzUW" style="width:100%">
            </div>
        </div>
        <div class="row" style="margin-left: 1.4%; margin-right: 1.4%">
            <div class="column" style="width: 20%; padding: 25px 5px">
                <img src="https://drive.google.com/uc?id=1PBst33BTzG9l3O4YfH1G2m19DoemCy1n" style="width:100%">
            </div>
            <div class="column" style="width: 20%; padding: 25px 5px">
                <img src="https://drive.google.com/uc?id=1YOQS80EmNLXf14y2o5YCKxTi0UvQ_cTP" style="width:100%">
            </div>
            <div class="column" style="width: 20%; padding: 25px 5px">
                <img src="https://drive.google.com/uc?id=1sXPAfxHbqCN-SoJrMUEsvy4XRp_YfU40" style="width:100%">
            </div>
            <div class="column" style="width: 20%; padding: 25px 5px">
                <img src="https://drive.google.com/uc?id=1TMSrR86fC_glN31KB1l3G8N01gi_MWYs" style="width:100%">
            </div>
            <div class="column" style="width: 20%; padding: 25px 5px">
                <img src="https://drive.google.com/uc?id=1vMJEYywymDNz-Vd6ivZoW_-jJ16a58fe" style="width:100%">
            </div>
        </div>
        <div class="row center">
            <div class="column" style="width: 20%; padding: 25px 5px">
                <img src="https://drive.google.com/uc?id=1d3Qab2NSLMFsnJk1-iy9GIOV6zpLfvg5" style="width:100%">
            </div>
            <div class="column" style="width: 20%; padding: 25px 5px">
                <img src="https://drive.google.com/uc?id=1SuJWoFZdBOxOpj_MLekvB4iA6F5jiuy3" style="width:100%">
            </div>
            <div class="column" style="width: 20%; padding: 25px 5px">
                <img src="https://drive.google.com/uc?id=1GHUhVdxz1J1D2MWh771uoxZCuem1AwJV" style="width:100%">
            </div>
        </div>
    </body>
    <h5>©️ A.S.</h5>
</html>
